NodeRedFlows/metaDataetToSQLFile.json
[
    {
        "id": "3c337341.5c1b9c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "798049cf.9ba0e",
        "type": "csv",
        "z": "3c337341.5c1b9c",
        "name": "",
        "sep": ",",
        "hdrin": true,
        "hdrout": "none",
        "multi": "one",
        "ret": "\\n",
        "temp": "latitude,longitude,rwi,error",
        "skip": "0",
        "strings": true,
        "include_empty_strings": "",
        "include_null_values": "",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "33314971.930d16"
            ]
        ]
    },
    {
        "id": "c133267f.69572",
        "type": "debug",
        "z": "3c337341.5c1b9c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1310,
        "y": 280,
        "wires": []
    },
    {
        "id": "ed3d4f9e.db441",
        "type": "inject",
        "z": "3c337341.5c1b9c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 300,
        "wires": [
            [
                "ffe81dd3.cbe1"
            ]
        ]
    },
    {
        "id": "33314971.930d16",
        "type": "function",
        "z": "3c337341.5c1b9c",
        "name": "",
        "func": "msg.lat = msg.payload.latitude;\nmsg.lon = msg.payload.longitude;\nmsg.originalData = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 300,
        "wires": [
            [
                "a9fc4db5.d05048"
            ]
        ]
    },
    {
        "id": "9f2b74e.7240208",
        "type": "function",
        "z": "3c337341.5c1b9c",
        "name": "",
        "func": "if(msg.location.inarea){\n    msg.payload = \"INSERT INTO `Data`(`value`, `latitude`, `longitude`, `timestamp`, `dataSourceId`) VALUES (\"+msg.originalData.rwi+\",\"+msg.originalData.latitude+\",\"+msg.originalData.longitude+\", CURRENT_TIMESTAMP(),1);\";\n    return msg;\n} \n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1020,
        "y": 300,
        "wires": [
            [
                "c133267f.69572",
                "19cee873.0fd988"
            ]
        ]
    },
    {
        "id": "19cee873.0fd988",
        "type": "file",
        "z": "3c337341.5c1b9c",
        "name": "",
        "filename": "SQLData.txt",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1310,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "a9fc4db5.d05048",
        "type": "geofence",
        "z": "3c337341.5c1b9c",
        "name": "",
        "mode": "polyline",
        "inside": "both",
        "rad": 0,
        "points": [
            {
                "latitude": 18.292927654329933,
                "longitude": 77.50957489013672
            },
            {
                "latitude": 16.27894898383484,
                "longitude": 77.14702606201172
            },
            {
                "latitude": 15.920063984577606,
                "longitude": 77.44365692138672
            },
            {
                "latitude": 15.740379794341036,
                "longitude": 78.30059051513672
            },
            {
                "latitude": 16.19456392845419,
                "longitude": 79.31133270263672
            },
            {
                "latitude": 16.637178731629348,
                "longitude": 80.04741668701172
            },
            {
                "latitude": 16.710849406463733,
                "longitude": 80.67363739013672
            },
            {
                "latitude": 17.32015967556625,
                "longitude": 81.46465301513672
            },
            {
                "latitude": 17.80197670255415,
                "longitude": 81.10210418701172
            },
            {
                "latitude": 18.48058591256319,
                "longitude": 80.79448699951172
            },
            {
                "latitude": 18.79289280691619,
                "longitude": 80.25615692138672
            },
            {
                "latitude": 19.571112606555072,
                "longitude": 80.00347137451172
            },
            {
                "latitude": 19.789318478494277,
                "longitude": 79.21348571777344
            },
            {
                "latitude": 19.768642099766115,
                "longitude": 78.15879821777344
            },
            {
                "latitude": 18.918628456746315,
                "longitude": 77.41172790527344
            },
            {
                "latitude": 18.419033078010983,
                "longitude": 77.56553649902344
            }
        ],
        "centre": {},
        "floor": "",
        "ceiling": "",
        "worldmap": false,
        "outputs": 1,
        "x": 840,
        "y": 300,
        "wires": [
            [
                "9f2b74e.7240208"
            ]
        ]
    },
    {
        "id": "ffe81dd3.cbe1",
        "type": "file in",
        "z": "3c337341.5c1b9c",
        "name": "",
        "filename": "ind_pak_relative_wealth_index.csv",
        "format": "lines",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "798049cf.9ba0e"
            ]
        ]
    }
]
